@mixin bp-devices($breakpoint) {
  @if $breakpoint == monitor4k {
    @media screen and (min-width: 2560px) { @content; } 
  }
  @else if $breakpoint == l-laptop {
    @media screen and (min-width: 1440px) { @content; }
  }
  @else if $breakpoint == s-laptop {
    @media screen and (min-width: 1024px) { @content; } 
  }
  @else if $breakpoint == tablet {
    @media screen and (min-width: 768px) { @content; }
    }
  @else if $breakpoint == l-mobile {
    @media screen and (min-width: 425px) { @content; }
  }
  @else if $breakpoint == m-mobile {
    @media screen and (min-width: 330px) { @content; }
  }
  @else if $breakpoint == mobile {
    @media screen and (max-width: 670px) { @content; }
  }
}