@use '../../../styles/abstracts/index' as a;

.layout {
  display: flex;
  min-height: 100vh;
  background: a.$gray-50;
}

.main {
  flex: 1;
  padding: a.$spacing-6;
  overflow-y: auto;
  margin-left: 250px;
}