@use '../abstracts/index' as a;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
html, body {
  overflow-x: hidden;
  width: 100%;
}
img, picture, svg {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul, ol {
  list-style: none;
}
button, input, select, textarea {
  font: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
input::placeholder {
  opacity: 1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: a.$light-text-primary;
  -webkit-box-shadow: 0 0 0px 1000px a.$gray-100 inset;
  transition: background-color 5000s ease-in-out 0s;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}